* {
    font-family: "Anta", sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./img/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    height: 100vh;
}

main.glass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 50vw;
    height: 80vh;
    padding: 1em;
    gap: 1em;
    overflow-y: auto;
    scrollbar-width: none;
}

fieldset {
    padding: 2em;
}

fieldset>legend {
    padding: 0 1em 0 1em;
}

img#pfp {
    border-radius: 50%;
    height: 8em;
    box-shadow: 10px 10px 25px #000;
    border: 2px dashed #FFF;
}